<p class="sub_text">
  <i class="icon-warning-sign icon-white"></i>
  <span class="space"></span>
  This application is meant to be a supplementary tool for those who want to explore and plan polyphasic sleep cycles at their own risk. I do not claim to be an expert on polyphasic sleep and information on this site may not be completely accurate.
</p>
<p class="sub_text">
  By using this application, you are agreeing to the potential risks of polyphasic sleep and releasing me from any liability.
</p>