/*
 *  Morpheus
 *  By Tina Roh (tinaroh@gmail.com)
 */

.result_stats {
  line-height: 1.2em;
  padding: 0 15px;
}

.result_stats strong {
  color: #b578ae;
}

.result_desc {
  text-style: italic;
}

.result_sched {
  
}